<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Web application for Library"/>
    <meta name="author" content="Ciornii A."/>
    <link rel="icon" href="http://www.favicon.by/download.php?favicon=5ac5377bce277.ico"/>

    <title>Signin to library</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body class="text-center">
    <div class="navbar navbar-inverse navbar-top" align="left">
        <a class="navbar-brand" href="#">Library</a>
    </div>
    <p th:if="${param.error}" class="error">Login or password is incorrect, please try again</p>
    <form class="form-signin" th:action="@{/login}" method="post">
        <div class="content" align="center">
            <img class="mb-4" src="https://png.icons8.com/metro/1600/library.png" alt="" width="72" height="72"/>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <label for="inputLogin" class="sr-only">Login</label>
            <input type="text" name="username" id="inputLogin" class="form-control" placeholder="Login" required="required" autofocus="autofocus"/>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="required"/>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"/> Remember me
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" id="login" value="Sign in"/>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </div>
    </form>
</body>
</html>
